body, html {
    height: 100%;
    margin: 0;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #B8B8D1;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60vh; 
    box-sizing: border-box;


}
